In [1]:
#.1.Import the data into Python environment as a Pandas DataFrame.
import pandas as pd
df= pd.read_csv('dataset/rainfall.csv',)
df

,STATE_UT_NAME,DISTRICT,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
0,ANDAMAN And NICOBAR ISLANDS,NICOBAR,107.3,57.9,65.2,117.0,358.5,295.5,285.0,271.9,354.8,326.0,315.2,250.9,2805.2,165.2,540.7,1207.2,892.1
1,ANDAMAN And NICOBAR ISLANDS,SOUTH ANDAMAN,43.7,26.0,18.6,90.5,374.4,457.2,421.3,423.1,455.6,301.2,275.8,128.3,3015.7,69.7,483.5,1757.2,705.3
2,ANDAMAN And NICOBAR ISLANDS,N & M ANDAMAN,32.7,15.9,8.6,53.4,343.6,503.3,465.4,460.9,454.8,276.1,198.6,100.0,2913.3,48.6,405.6,1884.4,574.7
3,ARUNACHAL PRADESH,LOHIT,42.2,80.8,176.4,358.5,306.4,447.0,660.1,427.8,313.6,167.1,34.1,29.8,3043.8,123.0,841.3,1848.5,231.0
4,ARUNACHAL PRADESH,EAST SIANG,33.3,79.5,105.9,216.5,323.0,738.3,990.9,711.2,568.0,206.9,29.5,31.7,4034.7,112.8,645.4,3008.4,268.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636,KERALA,IDUKKI,13.4,22.1,43.6,150.4,232.6,651.6,788.9,527.3,308.4,343.2,172.9,48.1,3302.5,35.5,426.6,2276.2,564.2
637,KERALA,KASARGOD,2.3,1.0,8.4,46.9,217.6,999.6,1108.5,636.3,263.1,234.9,84.6,18.4,3621.6,3.3,272.9,3007.5,337.9
638,KERALA,PATHANAMTHITTA,19.8,45.2,73.9,184.9,294.7,556.9,539.9,352.7,266.2,359.4,213.5,51.3,2958.4,65.0,553.5,1715.7,624.2
639,KERALA,WAYANAD,4.8,8.3,17.5,83.3,174.6,698.1,1110.4,592.9,230.7,213.1,93.6,25.8,3253.1,13.1,275.4,2632.1,332.5
640,LAKSHADWEEP,LAKSHADWEEP,20.8,14.7,11.8,48.9,171.7,330.2,287.7,217.5,163.1,157.1,117.7,58.8,1600.0,35.5,232.4,998.5,333.6

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 641 entries, 0 to 640
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   STATE_UT_NAME  641 non-null    object
 1   DISTRICT       641 non-null    object
 2   JAN            641 non-null    float64
 3   FEB            641 non-null    float64
 4   MAR            641 non-null    float64
 5   APR            641 non-null    float64
 6   MAY            641 non-null    float64
 7   JUN            641 non-null    float64
 8   JUL            641 non-null    float64
 9   AUG            641 non-null    float64
 10  SEP            641 non-null    float64
 11  OCT            641 non-null    float64
 12  NOV            641 non-null    float64
 13  DEC            641 non-null    float64
 14  ANNUAL         641 non-null    float64
 15  Jan-Feb        641 non-null    float64
 16  Mar-May        641 non-null    float64
 17  Jun-Sep        641 non-null    float64
 18  Oct-Dec        641 non-null    float64
dtypes: float64(17), object(2)
memory usage: 95.3+ KB

In [4]:
#.2.Check for missing values, if any and drop the corresponding rows.
df.dropna(inplace = True)
df

,STATE_UT_NAME,DISTRICT,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
0,ANDAMAN And NICOBAR ISLANDS,NICOBAR,107.3,57.9,65.2,117.0,358.5,295.5,285.0,271.9,354.8,326.0,315.2,250.9,2805.2,165.2,540.7,1207.2,892.1
1,ANDAMAN And NICOBAR ISLANDS,SOUTH ANDAMAN,43.7,26.0,18.6,90.5,374.4,457.2,421.3,423.1,455.6,301.2,275.8,128.3,3015.7,69.7,483.5,1757.2,705.3
2,ANDAMAN And NICOBAR ISLANDS,N & M ANDAMAN,32.7,15.9,8.6,53.4,343.6,503.3,465.4,460.9,454.8,276.1,198.6,100.0,2913.3,48.6,405.6,1884.4,574.7
3,ARUNACHAL PRADESH,LOHIT,42.2,80.8,176.4,358.5,306.4,447.0,660.1,427.8,313.6,167.1,34.1,29.8,3043.8,123.0,841.3,1848.5,231.0
4,ARUNACHAL PRADESH,EAST SIANG,33.3,79.5,105.9,216.5,323.0,738.3,990.9,711.2,568.0,206.9,29.5,31.7,4034.7,112.8,645.4,3008.4,268.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636,KERALA,IDUKKI,13.4,22.1,43.6,150.4,232.6,651.6,788.9,527.3,308.4,343.2,172.9,48.1,3302.5,35.5,426.6,2276.2,564.2
637,KERALA,KASARGOD,2.3,1.0,8.4,46.9,217.6,999.6,1108.5,636.3,263.1,234.9,84.6,18.4,3621.6,3.3,272.9,3007.5,337.9
638,KERALA,PATHANAMTHITTA,19.8,45.2,73.9,184.9,294.7,556.9,539.9,352.7,266.2,359.4,213.5,51.3,2958.4,65.0,553.5,1715.7,624.2
639,KERALA,WAYANAD,4.8,8.3,17.5,83.3,174.6,698.1,1110.4,592.9,230.7,213.1,93.6,25.8,3253.1,13.1,275.4,2632.1,332.5
640,LAKSHADWEEP,LAKSHADWEEP,20.8,14.7,11.8,48.9,171.7,330.2,287.7,217.5,163.1,157.1,117.7,58.8,1600.0,35.5,232.4,998.5,333.6

In [8]:
#.3.Find the district that gets the highest annual rainfall.#.3.
df.groupby('DISTRICT').max().sort_values('ANNUAL',ascending=0)[['ANNUAL']].head(1)

            ANNUAL
DISTRICT
TAMENGLONG  7229.3

In [21]:
#.4.Display the top 5 states that get the highest annual rainfall.
df.groupby('STATE_UT_NAME').sum().sort_values('ANNUAL',ascending=0)[['ANNUAL']]

C:\Users\bldea\AppData\Local\Temp\ipykernel_5816\1218165284.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('STATE_UT_NAME').sum().sort_values('ANNUAL',ascending=0)[['ANNUAL']]

                              ANNUAL
STATE_UT_NAME
UTTAR PRADESH                67836.6
ASSAM                        66267.7
MADHYA PRADESH               51615.5
ARUNACHAL PRADESH            46838.0
BIHAR                        45621.1
MAHARASHTRA                  44750.6
ORISSA                       43983.6
KERALA                       41123.5
KARNATAKA                    35838.5
WEST BENGAL                  34398.1
JHARKHAND                    31282.5
TAMIL NADU                   30720.2
MEGHALAYA                    25779.9
GUJARAT                      24032.9
MIZORAM                      23546.9
CHATISGARH                   23154.3
MANIPUR                      22469.7
JAMMU AND KASHMIR            22365.6
ANDHRA PRADESH               21736.7
NAGALAND                     21347.7
UTTARANCHAL                  20254.5
RAJASTHAN                    19192.7
HIMACHAL                     16459.1
PUNJAB                       12970.9
HARYANA                      12905.7
SIKKIM                       11353.4
TRIPURA                       9916.5
ANDAMAN And NICOBAR ISLANDS   8734.2
DELHI                         6723.9
GOA                           6557.0
PONDICHERRY                   5513.9
DAMAN AND DUI                 3071.4
DADAR NAGAR HAVELI            2374.1
LAKSHADWEEP                   1600.0
CHANDIGARH                    1070.6

In [29]:
#.5.Drop the columns 'Jan-Feb', 'Mar-May', 'Jun-Sep', 'Oct-Dec'.
df.drop(columns=['Jan-Feb','Mar-May','Jun-Sep','Oct-Dec'],axis=1)

KeyError: "['Jan-Feb', 'Mar-May', 'Jun-Sep', 'Oct-Dec'] not found in axis"

In [26]:
df

,STATE_UT_NAME,DISTRICT,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL
0,ANDAMAN And NICOBAR ISLANDS,NICOBAR,107.3,57.9,65.2,117.0,358.5,295.5,285.0,271.9,354.8,326.0,315.2,250.9,2805.2
1,ANDAMAN And NICOBAR ISLANDS,SOUTH ANDAMAN,43.7,26.0,18.6,90.5,374.4,457.2,421.3,423.1,455.6,301.2,275.8,128.3,3015.7
2,ANDAMAN And NICOBAR ISLANDS,N & M ANDAMAN,32.7,15.9,8.6,53.4,343.6,503.3,465.4,460.9,454.8,276.1,198.6,100.0,2913.3
3,ARUNACHAL PRADESH,LOHIT,42.2,80.8,176.4,358.5,306.4,447.0,660.1,427.8,313.6,167.1,34.1,29.8,3043.8
4,ARUNACHAL PRADESH,EAST SIANG,33.3,79.5,105.9,216.5,323.0,738.3,990.9,711.2,568.0,206.9,29.5,31.7,4034.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636,KERALA,IDUKKI,13.4,22.1,43.6,150.4,232.6,651.6,788.9,527.3,308.4,343.2,172.9,48.1,3302.5
637,KERALA,KASARGOD,2.3,1.0,8.4,46.9,217.6,999.6,1108.5,636.3,263.1,234.9,84.6,18.4,3621.6
638,KERALA,PATHANAMTHITTA,19.8,45.2,73.9,184.9,294.7,556.9,539.9,352.7,266.2,359.4,213.5,51.3,2958.4
639,KERALA,WAYANAD,4.8,8.3,17.5,83.3,174.6,698.1,1110.4,592.9,230.7,213.1,93.6,25.8,3253.1
640,LAKSHADWEEP,LAKSHADWEEP,20.8,14.7,11.8,48.9,171.7,330.2,287.7,217.5,163.1,157.1,117.7,58.8,1600.0

In [14]:
#.6.Display the state-wise mean rainfall for all the months using a pivot table
import numpy as np
pivot=pd.pivot_table(df,index='STATE_UT_NAME',aggfunc=np.mean)
pivot

C:\Users\bldea\AppData\Local\Temp\ipykernel_5816\1910636728.py:2: FutureWarning: The operation <function mean at 0x000002291EC49300> failed on a column. If any error is raised, this will raise an exception in a future version of pandas. Drop these columns to avoid this warning.
  pivot=pd.pivot_table(df,index='STATE_UT_NAME',aggfunc=np.mean)

,ANNUAL,APR,AUG,DEC,FEB,JAN,JUL,JUN,Jan-Feb,Jun-Sep,MAR,MAY,Mar-May,NOV,OCT,Oct-Dec,SEP
STATE_UT_NAME,,,,,,,,,,,,,,,,,
ANDAMAN And NICOBAR ISLANDS,2911.400000,86.966667,385.300000,159.733333,33.266667,61.233333,390.566667,418.666667,94.500000,1616.266667,30.800000,358.833333,476.600000,263.200000,301.100000,724.033333,421.733333
ANDHRA PRADESH,945.073913,19.873913,179.426087,15.565217,7.352174,6.321739,185.365217,114.369565,13.673913,639.534783,10.095652,48.765217,78.734783,58.965217,138.600000,213.130435,160.373913
ARUNACHAL PRADESH,2927.375000,275.162500,378.600000,35.956250,93.293750,53.687500,547.581250,491.381250,146.981250,1784.037500,165.018750,300.262500,740.443750,43.187500,176.768750,255.912500,366.475000
ASSAM,2454.359259,181.266667,377.370370,11.440741,31.714815,15.733333,494.844444,465.185185,47.448148,1641.200000,77.762963,333.870370,592.900000,24.922222,136.448148,172.811111,303.800000
BIHAR,1200.555263,16.865789,289.481579,5.786842,9.278947,13.134211,340.836842,168.781579,22.413158,1022.478947,9.873684,51.673684,78.413158,6.715789,64.747368,77.250000,223.378947
CHANDIGARH,1070.600000,14.800000,287.500000,23.400000,38.900000,44.300000,282.400000,120.000000,83.200000,844.200000,33.200000,30.100000,78.100000,9.900000,31.800000,65.100000,154.300000
CHATISGARH,1286.350000,13.116667,375.338889,5.811111,10.472222,10.377778,375.405556,180.583333,20.850000,1145.772222,12.977778,17.483333,43.577778,8.494444,61.844444,76.150000,214.444444
DADAR NAGAR HAVELI,2374.100000,0.000000,655.900000,0.000000,0.300000,0.400000,884.500000,385.100000,0.700000,2316.900000,0.000000,7.400000,7.400000,10.500000,38.600000,49.100000,391.400000
DAMAN AND DUI,1535.700000,0.100000,394.600000,0.450000,0.500000,0.550000,583.100000,276.500000,1.050000,1481.800000,0.200000,4.150000,4.450000,12.400000,35.550000,48.400000,227.600000
DELHI,747.100000,8.900000,245.500000,8.600000,16.300000,16.400000,220.700000,59.800000,32.700000,636.200000,15.300000,19.300000,43.500000,5.600000,20.500000,34.700000,110.200000
GOA,3278.500000,7.800000,683.800000,10.200000,0.050000,0.550000,1108.100000,908.100000,0.600000,2980.900000,0.550000,87.750000,96.100000,35.000000,155.700000,200.900000,280.900000
GUJARAT,924.342308,0.507692,257.630769,1.592308,0.392308,0.784615,333.838462,139.246154,1.176923,879.188462,1.142308,4.803846,6.453846,10.826923,25.103846,37.523077,148.473077
HARYANA,614.557143,7.619048,190.909524,7.914286,16.457143,19.485714,180.361905,51.009524,35.942857,511.004762,13.738095,14.642857,36.000000,5.266667,18.428571,31.609524,88.723810
HIMACHAL,1371.591667,47.683333,322.325000,38.225000,80.450000,81.925000,343.825000,108.683333,162.375000,925.100000,87.633333,54.358333,189.675000,16.908333,39.308333,94.441667,150.266667
JAMMU AND KASHMIR,1016.618182,82.268182,167.918182,46.395455,91.645455,77.977273,172.090909,53.604545,169.622727,471.868182,119.986364,65.136364,267.390909,27.159091,34.181818,107.736364,78.254545
JHARKHAND,1303.437500,18.662500,310.316667,6.704167,16.320833,15.837500,333.854167,198.775000,32.158333,1093.904167,16.516667,45.875000,81.054167,10.212500,79.404167,96.320833,250.958333
KARNATAKA,1194.616667,36.773333,209.256667,11.170000,2.696667,2.026667,280.700000,204.880000,4.723333,858.913333,7.163333,88.166667,132.103333,44.350000,143.356667,198.876667,164.076667
KERALA,2937.392857,109.021429,417.950000,38.242857,16.200000,9.542857,724.328571,658.707143,25.742857,2046.142857,31.071429,244.728571,384.821429,151.535714,290.907143,480.685714,245.157143
LAKSHADWEEP,1600.000000,48.900000,217.500000,58.800000,14.700000,20.800000,287.700000,330.200000,35.500000,998.500000,11.800000,171.700000,232.400000,117.700000,157.100000,333.600000,163.100000
MADHYA PRADESH,1032.310000,3.270000,331.048000,8.790000,9.158000,12.892000,311.088000,114.686000,22.050000,938.396000,7.486000,7.006000,17.762000,10.042000,35.270000,54.102000,181.574000
MAHARASHTRA,1278.588571,6.974286,314.585714,7.417143,3.474286,4.791429,388.894286,240.980000,8.265714,1135.771429,5.997143,19.925714,32.897143,18.588571,75.648571,101.654286,191.311429
MANIPUR,2496.633333,150.766667,451.800000,11.788889,55.122222,22.600000,498.055556,487.088889,77.722222,1715.344444,82.411111,213.377778,446.555556,56.000000,189.222222,257.011111,278.400000
MEGHALAYA,3682.842857,211.228571,584.371429,11.042857,21.685714,14.900000,857.742857,757.228571,36.585714,2654.042857,74.757143,430.042857,716.028571,39.571429,225.571429,276.185714,454.700000
MIZORAM,2616.322222,152.600000,440.588889,15.288889,29.944444,11.566667,452.311111,429.833333,41.511111,1694.888889,96.255556,321.322222,570.177778,64.633333,229.822222,309.744444,372.155556
NAGALAND,1940.700000,134.227273,350.872727,10.354545,27.672727,18.481818,395.036364,340.318182,46.154545,1313.854545,63.018182,213.381818,410.627273,38.554545,121.154545,170.063636,227.627273
ORISSA,1466.120000,36.653333,363.346667,5.136667,22.370000,10.810000,332.316667,212.516667,33.180000,1146.516667,27.453333,70.723333,134.830000,30.400000,116.056667,151.593333,238.336667
PONDICHERRY,1378.475000,12.275000,116.425000,227.350000,25.425000,26.750000,78.025000,47.675000,52.175000,362.025000,16.725000,40.825000,69.825000,395.150000,271.950000,894.450000,119.900000
PUNJAB,648.545000,12.160000,172.415000,13.905000,24.480000,25.965000,190.610000,46.325000,50.445000,502.185000,25.900000,16.165000,54.225000,6.085000,21.700000,41.690000,92.835000
RAJASTHAN,581.596970,3.303030,194.554545,3.021212,4.721212,5.348485,195.278788,54.096970,10.069697,530.075758,3.815152,10.627273,17.745455,6.254545,14.430303,23.706061,86.145455
SIKKIM,2838.350000,206.900000,434.600000,20.900000,77.300000,47.550000,499.200000,483.800000,124.850000,1790.750000,130.600000,323.550000,661.050000,30.950000,209.850000,261.700000,373.150000
TAMIL NADU,960.006250,42.596875,91.571875,96.487500,14.021875,18.906250,72.606250,50.321875,32.928125,330.840625,18.068750,67.531250,128.196875,184.625000,186.928125,468.040625,116.340625
TRIPURA,2479.125000,220.750000,356.475000,11.125000,33.650000,11.225000,414.975000,465.425000,44.875000,1497.225000,93.625000,391.575000,705.950000,43.300000,176.650000,231.075000,260.350000
UTTAR PRADESH,955.445070,5.318310,291.232394,6.870423,13.157746,17.183099,280.067606,90.770423,30.340845,837.145070,10.107042,15.561972,30.987324,4.576056,45.525352,56.971831,175.074648
UTTARANCHAL,1558.038462,29.815385,426.784615,20.830769,49.592308,49.892308,432.792308,165.715385,99.484615,1229.769231,51.669231,58.392308,139.876923,9.238462,58.838462,88.907692,204.476923
WEST BENGAL,1810.426316,56.647368,361.573684,7.363158,19.084211,15.031579,412.989474,308.531579,34.115789,1401.073684,27.973684,139.489474,224.110526,19.389474,124.373684,151.126316,317.978947

In [15]:
#.7.Display the count of districts in each state.
df.groupby('STATE_UT_NAME').count()[['DISTRICT']]

                             DISTRICT
STATE_UT_NAME
ANDAMAN And NICOBAR ISLANDS         3
ANDHRA PRADESH                     23
ARUNACHAL PRADESH                  16
ASSAM                              27
BIHAR                              38
CHANDIGARH                          1
CHATISGARH                         18
DADAR NAGAR HAVELI                  1
DAMAN AND DUI                       2
DELHI                               9
GOA                                 2
GUJARAT                            26
HARYANA                            21
HIMACHAL                           12
JAMMU AND KASHMIR                  22
JHARKHAND                          24
KARNATAKA                          30
KERALA                             14
LAKSHADWEEP                         1
MADHYA PRADESH                     50
MAHARASHTRA                        35
MANIPUR                             9
MEGHALAYA                           7
MIZORAM                             9
NAGALAND                           11
ORISSA                             30
PONDICHERRY                         4
PUNJAB                             20
RAJASTHAN                          33
SIKKIM                              4
TAMIL NADU                         32
TRIPURA                             4
UTTAR PRADESH                      71
UTTARANCHAL                        13
WEST BENGAL                        19

In [16]:
#.8.For each state, display the district that gets the highest rainfall in May. Also display the recorded rainfall.
df.groupby('STATE_UT_NAME').max()[['DISTRICT','MAY']]

                                   DISTRICT    MAY
STATE_UT_NAME
ANDAMAN And NICOBAR ISLANDS   SOUTH ANDAMAN  374.4
ANDHRA PRADESH                WEST GODAVARI   96.6
ARUNACHAL PRADESH                WEST SIANG  453.0
ASSAM                         UDALGURI(DARA  604.0
BIHAR                        WEST CHAMPARAN  155.7
CHANDIGARH                       CHANDIGARH   30.1
CHATISGARH                          SURGUJA   38.6
DADAR NAGAR HAVELI                      DNH    7.4
DAMAN AND DUI                           DIU    7.4
DELHI                            WEST DELHI   19.3
GOA                               SOUTH GOA   94.3
GUJARAT                              VALSAD   12.5
HARYANA                         YAMUNANAGAR   27.9
HIMACHAL                                UNA   91.7
JAMMU AND KASHMIR                  UDHAMPUR  111.4
JHARKHAND                    WEST SINGHBHUM   86.1
KARNATAKA                            YADGIR  193.8
KERALA                              WAYANAD  300.4
LAKSHADWEEP                     LAKSHADWEEP  171.7
MADHYA PRADESH                      VIDISHA   19.9
MAHARASHTRA                        YAVATMAL   60.2
MANIPUR                              UKHRUL  539.9
MEGHALAYA                     WEST GARO HIL  733.7
MIZORAM                            SERCHHIP  351.4
NAGALAND                          ZUNHEBOTO  325.6
ORISSA                           SUNDARGARH  136.8
PONDICHERRY                           YANAM   43.6
PUNJAB                           TARN TARAN   25.6
RAJASTHAN                           UDAIPUR   20.7
SIKKIM                          WEST SIKKIM  355.4
TAMIL NADU                     VIRUDHUNAGAR  141.5
TRIPURA                        WEST TRIPURA  440.1
UTTAR PRADESH                      VARANASI   38.6
UTTARANCHAL                      UTTARKASHI  102.1
WEST BENGAL                   WEST MIDNAPOR  345.4